<!-- BEGIN #footer -->
<footer id="footer">
    <!-- BEGIN .wrapper -->
    <div class="wrapper">
        <div class="footer-container">
            <div class="footer-body">
                <p>Powered by <a href="https://khanhnd.info/projects/mazecore" target="_blank">MazeCore</a> v1.0.1250</p>
            </div>
            <div class="footer-body">
                <p>&copy; <a href="https://khanhnd.info" target="_blank">khanhnd</a> 2022</p>
            </div>
        </div>
        <!-- END .wrapper -->
    </div>
</footer><!-- END #footer -->