@using CodeMaze.App.ViewComponents
<!-- BEGIN .header -->
<div class="header">
    <div class="main-menu-wrapper">
        <!-- BEGIN .wrapper -->
        <div class="wrapper">
            <nav id="main-menu">
                <ul>
                    <li><a href="/index.html">Code <span class="opacity-75">Maze</span></a></li>

                    <cache expires-after="TimeSpan.FromMinutes(30)">
                        @await Component.InvokeAsync(typeof(CategoriesViewComponent), new {view = "Header"})
                    </cache>

                    <li><a href="/archive.html">Archive</a></li>
                    <li><a href="/contact.html">Contact us</a></li>
                </ul>
                <form action="blog.html" method="get">
                    <input type="text" value="" placeholder="Search" />
                    <button type="submit"><i class="fa fa-search"></i></button>
                </form>
            </nav>
        </div>
        
    </div><!-- END .wrapper -->
    
</div> <!-- END .header -->