<!-- BEGIN #sidebar -->
<aside id="sidebar">

    <!-- BEGIN .widget -->
    <div class="widget">
        <div class="panel panel-default">
            <div class="panel-info">
                <div class="panel-blur">
                    <img src="~/assets/images/background-photo-1.jpg" class="" alt="">
                </div>
                <div class="avatar">
                    <img src="~/assets/images/12333833705_1e111fd1dd_q.jpg" class="thumbnail" alt="">
                </div>

                <div class="text">
                    <div class="author">Duy Khanh</div>
                    <div class="title">.NET and Azure Developer</div>
                </div>
            </div>
            <div class="panel-info-footer">
                <a href="/about.html">About</a>
                <a href="/about.html">GitHub</a>
            </div>
        </div>
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <div class="panel panel-default">
            <div class="panel-heading">Hot Tags</div>
            <div class="panel-body">
                <div class="tagcloud">
                    <a href="blog.html">Dignissim</a>
                    <a href="blog.html">Habeo quods</a>
                    <a href="blog.html">Sumo</a>
                    <a href="blog.html">Prima dicunt</a>
                    <a href="blog.html">Scripser</a>
                    <a href="blog.html">Dignissim</a>
                    <a href="blog.html">Habeo quods</a>
                    <a href="blog.html">Sumo</a>
                    <a href="blog.html">Prima dicunt</a>
                    <a href="blog.html">Scripser</a>
                    <a href="blog.html">Dignissim</a>
                    <a href="blog.html">Habeo quods</a>
                </div>
                <hr>
                <div class="all-tags">
                    <a href="blog.html"><i class="fa fa-tags"></i> All tags</a>
                </div>
            </div>
        </div>
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <div class="panel panel-default">
            <div class="panel-heading">Categories</div>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <i class="fa fa-folder-open-o"></i> Dapibus
                    ac facilisis in
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-folder-open-o"></i> Morbi
                    leo risus
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-folder-open-o"></i> Porta ac
                    consectetur ac
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-folder-open-o"></i>
                    Vestibulum at eros
                </a>
            </div>
        </div>
    </div>

    <!-- BEGIN .widget -->
    <div class="widget">
        <div class="panel panel-default">
            <div class="panel-heading">Categories</div>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    <i class="fa fa-link"></i> Dapibus ac
                    facilisis in
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-link"></i> Morbi leo
                    risus
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-link"></i> Porta ac
                    consectetur ac
                </a>
                <a href="#" class="list-group-item">
                    <i class="fa fa-link"></i> Vestibulum at
                    eros
                </a>
            </div>
        </div>
    </div>

    <!-- END #sidebar -->
</aside>