<!-- Footer -->
<footer id="page-footer" class="bg-body-light">
    <div class="content py-0">
        <div class="row fs-sm">
        <div class="col-sm-6 order-sm-2 mb-1 mb-sm-0 text-center text-sm-end text-black-50">
            Powered by <a class="fw-semibold text-black-50" href="https://khanhnd.info/projects/mazecore" target="_blank">MazeCore</a> v1.0.1250
        </div>
        <div class="col-sm-6 order-sm-1 text-center text-sm-start text-black-50">
            &copy; <a class="fw-semibold text-black-50" href="https://khanhnd.info" target="_blank">khanhnd</a> <span data-toggle="year-copy"></span>
        </div>
        </div>
    </div>
</footer>
<!-- END Footer -->