<!-- BEGIN .zanevn-main-content -->
<div class="zanevn-main-content zanevn-main-content-contact-us">

	<!-- BEGIN .zanevn-panel -->
	<div class="zanevn-panel">

		<div class="zanevn-panel-title">
			<strong>Contact us</strong>
		</div>

		<div class="zanevn-panel-inner">
			<div class="comment-form">
				<div id="respond" class="comment-respond">

					<form action="#" class="comment-form">
						<div class="alert-message ot-shortcode-alert-message alert-green">
							<strong>Success! This a success message</strong>
						</div>
						<!-- <div class="alert-message ot-shortcode-alert-message alert-red">
							<strong>Error! This an error message</strong>
						</div>
						<div class="alert-message ot-shortcode-alert-message">
							<strong>Warning! This a warning message</strong>
						</div> -->
						<div class="contact-form-content">
							<p class="contact-form-user">
								<label class="label-input">
									<span>Nickname<i class="required">*</i></span>
									<input type="text" placeholder="Nickname" name="nickname" value="">
								</label>
							</p>
							<p class="contact-form-email">
								<label class="label-input">
									<span>E-mail<i class="required">*</i></span>
									<input type="email" placeholder="E-mail" name="email" value="">
								</label>
							</p>
							<p class="contact-form-comment">
								<label class="label-input">
									<span>Message text<i class="required">*</i></span>
									<textarea name="comment" placeholder="Message text"></textarea>
								</label>
							</p>
							<p class="form-submit">
								<input name="submit" type="submit" id="submit" class="submit button" value="Send this message">
							</p>
						</div>
					</form>

				</div>
			</div>
		</div>

	<!-- END .zanevn-panel -->
	</div>

    <!-- END .zanevn-main-content -->
</div>
