<header id="header">
    <section class="container clearfix">
        <div class="logo"><a href="/index.html"><img alt="" src="~/assets/default/images/logo_header_light.png"></a></div>
        <nav class="navigation">
            <ul>
                <li class="current_page_item">
                    <a href="/index.html">Home</a>
                </li>

                <cache expires-after="@TimeSpan.FromMinutes(60)">
                    @await Component.InvokeAsync("CategoryHeader")
                </cache>

                @*<li><a href="/tags.html">Tags</a></li>
                <li><a href="/archive.html">Archive</a></li>
                <li><a href="/about.html">About</a></li>*@
            </ul>
        </nav>
    </section><!-- End container -->
</header><!-- End header -->