@model IReadOnlyList<CategoryItem>
@{
    var categories = Model.Where(c => !c.ShowOnTab);
    var categories_specs = Model.Where(c => c.ShowOnTab);
}

<li>
    <a href="javascript:void(0);"><span class="has-sub">Categories</span></a>
    <ul class="sub-menu">
        @if (categories?.Any() == true)
        {
            foreach (var item in categories)
            {
                <li><a href="@item.Slug">@item.Title</a></li>
            }
        }
    </ul>
</li>

@if(categories_specs?.Any() == true)
{
    foreach (var item in categories_specs)
    {
        <li><a href="@item.Slug">@item.Title</a></li>
    }
}
