@model IReadOnlyList<CategoryItem>
@{
    var categories = Model;
}

<li>
    <a href="javascript:void(0);"><span class="has-sub">Categories</span></a>
    <ul class="sub-menu">
        @if (categories?.Any() == true)
        {
            foreach (var item in categories)
            {
                <li><a href="@item.Slug">@item.Title</a></li>
            }
        }
    </ul>
</li>