/*body, .boxed:not(.active) {
	background-color: rgb(242, 242, 242);
}*/

/* Predefined Color Scheme */
.main-slider .owl-nav .owl-next,
.main-slider .owl-nav .owl-prev,
.zanevn-photo-gallery-list .owl-controls .owl-nav .owl-next,
.ot-w-gallery-list .owl-controls .owl-nav .owl-next,
.zanevn-photo-gallery-list .owl-controls .owl-nav .owl-prev,
.ot-w-gallery-list .owl-controls .owl-nav .owl-prev,
.widget .search-form > input:hover,
#main-menu,
.zanevn-panel-pager a.zanevn-pager-button.active:hover {
  background-color: #3e578d;
}

a {
  color: #3e578d;
}


#main-menu {
  border-color: #3e578d;
}

/* Secondary color scheme */

.zanevn-comments .comment-list .comment-text .user-nick .user-label,
.zanevn-panel-buttons a,
.zanevn-panel-buttons a.active,
.zanevn-panel-buttons a:hover,
.footer-button:hover,
button,
input[type="submit"],

.main-slider-owl.owl-carousel .owl-controls .owl-dot:hover:before,
.main-slider-owl.owl-carousel .owl-controls .owl-dot.active:before,
.widget .search-form > input,
.header-top-socials > a span,
.owl-carousel .owl-controls .owl-dot.active,
.img-read-later-button,
.zanevn-archive-list h3.item-title,
#sidebar .widget > h3,
.zanevn-panel-pager a.zanevn-pager-button.active,
.zanevn-panel-pager a.zanevn-pager-button:hover,
.zanevn-panel > .zanevn-panel-title:not(.zanevn-panel-title-tabbed) > strong,
.zanevn-panel > .zanevn-panel-title > strong.active {
  background-color: #3e578d;
}

.zanevn-panel-pager span.page-numbers{
	background-color: #677dad;
    color: #f0f7ff;
}

.comments-big-message,
.zanevn-secondary-title > strong,
.footer-button,
.contact-form-content label span,
.widget .tagcloud a,
.main-slider-owl.owl-carousel .owl-controls .owl-dot:hover:after,
.main-slider-owl.owl-carousel .owl-controls .owl-dot.active:after,
.item-stars .stars-inner:before,
.zanevn-panel > .zanevn-panel-title.zanevn-panel-title-tabbed > strong {
  color: #3e578d;
}

.contact-form-content label textarea:focus,
.contact-form-content label input:focus,
.zanevn-panel > .zanevn-panel-title {
  border-color: #3e578d;
}

.owl-carousel .owl-controls .owl-dot {
  box-shadow: inset 0 0 0 2px #3e578d;
}

/* Link hover color */

.ot-shortcode-accordion > div.active > a:before,
.photo-gallery-nav-left:active,
.photo-gallery-nav-left:focus,
.photo-gallery-nav-left,
.photo-gallery-nav-right:active,
.photo-gallery-nav-right:focus,
background-color {
  background-color: #5b709e;
}

a:hover,
.ot-w-comments-list .item .item-meta .item-meta-item.meta-button,
.ot-shortcode-accordion > div.active > a {
  color: #5b709e;
}

.zanevn-panel-pager .page-numbers,
.zanevn-panel > .zanevn-panel-title:not(.zanevn-panel-title-tabbed) > strong, 
.widget .tagcloud a,
.widget .tagcloud a:hover{
	color: #f0f7ff;
}

.widget .tagcloud a:hover{
	background-color: #5b709e;
}

.widget a .fa {
	margin-right: 8px;
}


.photo-gallery-thumbs-inner .item.active:before {
	box-shadow: inset 0 0 0 3px #5b709e;
}


.zanevn-panel > .zanevn-panel-title:not(.zanevn-panel-title-tabbed) > strong
{
	font-weight: 600;
}

/* Titles & Menu */

.zanevn-main-article-content .zanevn-main-article-meta span,
.zanevn-main-article-content .zanevn-main-article-meta a{
	font-size: 1.3rem;
	color: #6c757d !important;
}

.zanevn-main-article-head .zanevn-main-article-meta .item {
	margin-right: 8px;
}

.zanevn-main-article-content h1 {
	font-size: 2.2rem;
	font-weight: 400;
	padding-top: 5px;
	margin-bottom: 0;
}


#main-menu,
h1,
h2,
h3,
h4,
h5,
h6,
.portus-article-slider-big .item-article-title,
.article-list-full-width .item .item-title,
.article-slider-full-small .item-article-title {
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
}

/* Secondary Font Family */

body,
p {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

.timeline-body .badge {
    border-radius: 4px;
	font-weight: 400;
	font-size: 13px;
}